*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
           #32a093 0%,
           #32a093 15%,
           #dfe0d9 15%,
           #dfe0d9 100%
       );
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       
}


.container {
    width: 77%;
    min-width: 900px;
    height: 92%;
    background: white;
    display: flex;
    overflow: hidden;
    
}

h4 {
    font-size: 13px;
}
span {
    font-size: 11px;
}



.sidebar {
    width: 35%;
    display: flex;
    flex-direction: column;
}

/* sezioni interne sidebar */
 
.profile {
     background: rgb(231, 231, 231);
       display: flex;   
     flex-wrap: wrap; 
     justify-content: space-between;
     padding: 5px;
     
 
}

.profile img{
    max-width: 67px;
    padding: 6px 6px;
    border-radius: 32px;
}


 .img-h4{
     display: flex; 
} 
 
 .nome-utente{
     margin-top: 15%; 
   
}   


.icon-profile {
    margin-top: 6%;
    
    
}

 .icon-a, .icon-b, .icon-c {
    padding: 5px;
    color: gray;
} 





.notifications {
    background: rgb(183, 208, 255);
     display: flex; 
    padding: 11px;
}

.notifications-icon{

    padding: 17px 18px;
    background: white;
    border-radius: 32px;
}
.fa-bell-slash {
    color: rgb(183, 208, 255) ;
}
.text {
    padding: 7px 10px;
}




























.research-chat{
    height:9%;
    background-color: rgb(231, 231, 231) ;
}

.contacts{
    height: 100%;
    background: rgb(255, 255, 255);
}


/* sezione messaggi */

 .box-container {
    
    width: 65%;
    flex-direction: column;
     background: coral; 
    display: flex;
} 

.user-active {
    height: 9%;
    background: rgb(214, 213, 213);
}


.chat {
    height: 82%;
    background-image: url(../img/mine.jpg);
}
.insert-message{
    height: 9%;
    background-color: rgb(214, 213, 213) ;
}

