*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
           #32a093 0%,
           #32a093 15%,
           #dfe0d9 15%,
           #dfe0d9 100%
       );
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       
}


.container {
    width: 77%;
    min-width: 900px;
    height: 92%;
    background: white;
    display: flex;
    overflow: hidden;
    
}

h4 {
    font-size: 1rem;
}
span {
    font-size: 0.7rem;
}


   

                                      /* SEZIONE SIDEBAR */
.sidebar {
    width: 35%;
    display: flex;
    flex-direction: column;
}

/* sezioni interne sidebar */
 

/* sezione profile */

.profile {
     background: rgb(233, 231, 231);
       display: flex;   
     flex-wrap: wrap; 
     justify-content: space-between;
     padding: 5px;
     
 
}

.profile img{
    max-width: 67px;
    padding: 6px 6px;
    border-radius: 32px;
    

}

 .img-h4{
     display: flex; 
} 
 
 .nome-utente{
     margin-top: 15%; 
   
}   


.icon-profile {
    margin-top: 6%;
    
    
}

 .icon-a, .icon-b, .icon-c {
    padding: 5px;
    color: gray;
} 

/* sezione notifications */

.notifications {
    background: rgb(183, 208, 255);
     display: flex; 
    padding: 11px;
}

.notifications-icon{

    padding: 17px 18px;
    background: white;
    border-radius: 32px;
}
.fa-bell-slash {
    color: rgb(183, 208, 255) ;
}
.text {
    padding: 7px 10px;
}

/* sezione research-chat */

.research-chat{
    display: flex;
    background-color: rgb(247, 244, 244) ;
    padding: 10px;
}

.fa-search{
    color: gray
}

 .search-icon {
    padding: 6px 30px;
    background: white;
}
 
.research-chat input {
    flex-grow: 1 ; 
    height: 28px;
    border: 1px;
  /*   border-left: 1px gray; */
    outline: none;
    
}




/* sezione contatti */
.contacts{
    display: flex;
    background: rgb(255, 255, 255);
}

.contacts img {
    max-width: 80px;
    margin-left: 8px;
    padding: 6px 6px;
    border-radius: 50px;
    
}

.nome-utente1 {
margin-top: 20%;
padding-left: 20px;
}

.br {
    border-bottom: 1px solid  rgba(247, 244, 244, 0.979);
}



                                                     /* SEZIONE MESSAGGI */

 .box-container {
    
     width: 65%;
    flex-direction: column;
    display: flex;
} 
 /* sezione user-active */
.user-active {
    background: rgb(233, 231, 231);
    display: flex;   
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 5px;;
}

.user-active img{
    max-width: 67px;
    padding: 6px 6px;
    border-radius: 32px;
}

.icon-user-active {
    margin-top: 3%;
}



.chat {
    display: flex;
    flex-direction: column;
    height: 82%;
    background-image: url(../img/mine.jpg);
}

.messsage-sent{
    margin-right: 10%;
    margin-top: 30px;
    align-self: flex-end;
    background-color:white;
    height: 50px;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.data-ora-message {
    padding-left: 10rem;
    
}
.message-received {
    margin-left: 10%;
    margin-top: 25px;
    align-self: flex-start;
    background-color:rgb(68, 250, 129);
    height: 50px;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}
/* sezione insert-message */
.insert-message{
    display: flex;
    background-color: rgb(247, 244, 244) ;
    padding: 10px;
}
.insert-message input {
    
    flex-grow: 1;
    height: 52px;
     border: none; 
 border-radius: 5px;
    outline: none;
    
}


.icon {
    font-size: 22px;
    padding: 15px 30px;
    background: rgb(247, 244, 244);
}

